.idea/
*.sw[opa]

sites

/raw
/downloads
/chains

/flask_session

word-rnn-tensorflow/
__pycache__/
config.py
*.old

web/static/css/
!web/static/css/.gitkeep
count.txt

# Python virtualenv dirs
/venv
/venv3

*.pyc

