<!doctype html>
<head>
    <title>Flaskr</title>
    {% if config['DEBUG'] %}
        <link href="{{ url_for('static', filename='css/style.scss.css') }}" rel="stylesheet" type="text/css">
    {% else %}
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    {% endif %}
</head>
<body>
<div class="container">
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script src="{{ url_for('static', filename='js/awesomplete.min.js') }}"></script>

</body>
