<!DOCTYPE html>
<html lang="de" class="{% block extraclasses %}{% endblock %}">
<head>
    <meta name="robots" content="noindex, nofollow">
    <title>{% block title %}Stackexchange Simulator{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if config['DEBUG'] %}
        <link href="{{ url_for('static', filename='css/style.scss.css') }}" rel="stylesheet" type="text/css">
    {% else %}
        <link href="{{ url_for('static', filename='css/style.css') }}?hash={{ git_hash }}"
              rel="stylesheet" type="text/css">
    {% endif %}
    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = _paq || [];
        {# tracker methods like "setCustomDimension" should be called before "trackPageView" #}
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "https://matomo.lw1.at/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', '16']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'piwik.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->


</head>
<body>
<div class="container">
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
    <footer>
        <div><a href="https://lw1.at/i">Imprint and Privacy Policy</a></div>
        <div><a href="https://lw1.at/" target="_blank">About me and other projects</a></div>
    </footer>
</div>
<script src="{{ url_for('static', filename='js/app.js') }}?hash={{ git_hash }}"></script>
<script src="{{ url_for('static', filename='js/awesomplete.min.js') }}?hash={{ git_hash }}"></script>

</body>
</html>
