{% extends "base.html" %}
{% from 'macros.html' import siteheader %}
{% block body %}
    {{ siteheader(question.site) }}
    <h1>{{ question.title.text }}</h1>
    {% set vote=voted[("question", question.id)] %}
    <div class="content question">
        <div class="vote" data-id="{{ question.id }}" data-type="question">
            <a class="up {{ "active" if vote == True }}"></a>
            <div>{{ question.upvotes - question.downvotes }}</div>
            <a class="down {{ "active" if vote == False }}"></a>
        </div>
        <div class="contentbox">

            {% for paragraph in question.text.split("\n") %}
                <p>{{ paragraph }}</p>
            {% endfor %}
            <div class="contentfooter">
                <div class="authorbox">
                    asked {{ prettydate(question.datetime) }}
                    <br>
                    {{ question.user.username }}
                </div>
            </div>
        </div>
    </div>
    <h2 class="answerheader">{{ answers|length }} Answers</h2>
    {% for answer in answers %}
        {% set vote=voted[("answer", answer.id)] %}
        <div class="content answer">
            <div class="vote" data-id="{{ answer.id }}" data-type="answer" data-ranking="{{ answer.ci_lower_bound }}">
                <a class="up {{ "active" if vote == True }}"></a>
                <div>{{ answer.upvotes - answer.downvotes }}</div>
                <a class="down {{ "active" if vote == False }}"></a>
            </div>
            <div class="contentbox">
                {% for paragraph in answer.text.split("\n") %}
                    <p>{{ paragraph }}</p>
                {% endfor %}
                <div class="contentfooter">
                    <div class="authorbox">
                        answered {{ prettydate(answer.datetime) }}
                        <br>
                        {{ answer.user.username }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
