{% extends "base.html" %}
{% from 'macros.html' import pagination, siteheader %}
{% block body %}
    {{ siteheader(site) }}

    <div id="filterwrapper"
         style="background-color: {{ site.background_color }}; color: {{ site.foreground_color }}">
        <input id="siteselector" class="awesomplete" value="{{ site.url if not site.fallback }}"
               data-mode="filter" title="filter by page" placeholder="filter by page"
               style="" type="search"/>
        {% if not site.fallback %}
            <a href="{{ url_for("index") }}" class="clear"><span>Clear</span></a>
        {% endif %}
    </div>
    <div id="quizteaster"
         style="background-color: {{ site.background_color }}; color: {{ site.foreground_color }}">
        <a href="{{ url_for("quiz", difficulty="easy") }}">Easy Quiz</a>
        <a href="{{ url_for("quiz", difficulty="hard") }}">Hard Quiz</a>
    </div>
    {{ pagination(pagearray, num_pages, page, site.url if not site.fallback else None, True) }}
    {% for question in questions %}
        {% set vote=voted[("question", question.id)] %}
        <div class="content question"
             style="border-right-color:{{ question.site.primary_color }}">
            <div class="vote" data-id="{{ question.id }}" data-type="question">
                <a class="up {{ "active" if vote == True }}"></a>
                <div>{{ question.upvotes - question.downvotes }}</div>
                <a class="down {{ "active" if vote == False }}"></a>
            </div>
            <div class="contentbox">
                <div>
                    <a class="title" style=""
                       href="{{ url_for("question",slug=question.title.slug) }}">{{ question.title.text }}</a>
                </div>
                {{ question.text|truncate(200, False, ' …', 10) }}
                <div class="rightwrapper">
                    <div class="metadata">
                        asked {{ prettydate(question.datetime) }} by {{ question.user.username }}
                        <br>
                        on
                        <a href="{{ url_for("index",site=question.site.url) }}" class="sitename">
                            {{ question.site.name }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {{ pagination(pagearray, num_pages, page, site.url if not site.fallback else None, False) }}
{% endblock %}
