$link-color: #07C;
$link-hover-color: #3af;

@import "../../milligram/src/milligram";

@import "pagination";

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #111;
}

pre > code {
  white-space: pre-wrap;
}

.question {
  position: relative;

  display: flex;
  flex-direction: row;
  padding: 15px 5px 30px;
  border-bottom: solid lightgray 1px;
  border-right: solid 10px transparent;
  .questionbox {
    margin-left: 10px;
    width: 100%;
    .sitename {
      position: absolute;
      font-size: 10px;
      color: grey;
      right: 5px;
      &:hover {
        text-decoration: underline;
      }
    }
    .date{
      position: absolute;
      right: 5px;
      bottom: 5px;
      font-size: 12px;
      color: grey;
    }
    .questionfooter {
      display: flex;
      justify-content: right;
      margin: 0;
      .authorbox {
        background: #E1ECF9;
        font-size: 12px;
        padding: 5px;

      }

    }
  }
  .title {
    font-size: 20px;
    color: $link-color;
    &:hover {
      color: $link-hover-color;
    }
  }
  .vote {
    width: 30px;
    display: flex;
    flex-direction: column;
    div {
      text-align: center;
      margin: 10px 0;
    }
    a {
      font-size: 20px;
      width: 0;
      height: 0;
      border-style: solid;
      cursor: pointer;
    }
    .up {
      border-width: 0 15px 15px 15px;
      border-color: transparent transparent #858c93 transparent;
    }
    .down {
      border-width: 15px 15px 0 15px;
      border-color: #858c93 transparent transparent transparent;
    }
  }
}

h1{
  border-bottom: solid 1px lightgray;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.siteheader {
  background: #ebf2f5;
  display: flex;
  height: 50px;
  align-items: center;
  .gotolink {
    margin-left: auto;
  }
}
